/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */
@include styleModule(
    // class name
    'cmodule-toggle-monitor',
    // styling properties
    (
            'text-color': white,
            'icon-color': white,
            'icon-background': #090909,
            'label-background': #090909,
            'inner-spacing': 0.5em,
            'border-enabled': false,
            'border-color': #090909,
            'icon-size': 1em
        )
);

@include styleModule('cmodule-hyprsunset-control', (
  'icon-color': #f7e58f,
  'hover-background': #3a3a3a,
  'active-background': #444,
));

